
.agrippa-footer {
    background: #222;
    color: #bbb;
    overflow-y: auto;
}

.faction-header {
    color: white;
}

.agrippa-faction-name {
  text-overflow: ellipsis;
}

.agrippa-info-pane {
    background-color: #444;
    color: white;
}

.info-phase-name {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.info-treasury {
}

.info-end-phase {
    color: white;
}

.faction-leader {
  background-color: lightblue;
}